/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.09.2015, 14:36:42
    Author     : user
*/

body
{
    background: red;
}

*
{
    font-family: Cambria;
    font-size: 11px;
}

h1
{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

th
{
    padding: 3px 7px 2px 7px;
    font-weight: bold;
    font-size: 12px;
}

td
{
    padding: 3px 7px 2px 7px;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

table, th, td
{
    border: 0.2px solid black;
}

th
{
    background-color: #C00518;
}