/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.08.2015, 14:48:36
    Author     : user
*/


*,h2, h1
{
    font-family: Cambria;
    
}


body
{
    
    background-image: url("../res/bg.png");
    background-size: 100%;
}

#div_oben
{
    background-color: white;
    width: 100%;

}

#div_image
{
    float:right;
}

#div_mitte
{
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

h1
{
    text-align: center;
}

button
{
    color: white;
}

.styleGruen:hover {
    background: #338F5E !important;
}

.styleGrau:hover {
    background: #8D8D8F !important;
}

.styleRot:hover {
    background: #CD3746 !important;
}

.linkMenu
{
    font-weight: 900 !important;
}